name: Test Docker Image

run-name: |
  ref: ${{ github.ref_name }} |
  version: ${{ inputs.version }} |
  digest: ${{ inputs.digest }} |
  splits: ${{ inputs.splits }} |

permissions: {}

on:
  workflow_call:
    inputs:
      version:
        description: The version of the image to run
        type: string
        required: false
      digest:
        description: The build digest of the image to run. Overrides version.
        type: string
        required: false
      splits:
        description: How many splits for test_main
        type: number
        required: false
        default: 14
  workflow_dispatch:
    inputs:
      version:
        description: The version of the image to run
        type: string
        required: true
      digest:
        description: The build digest of the image to run. Overrides version.
        type: string
        required: false
      splits:
        description: How many splits for test_main
        type: number
        required: false
        default: 14

concurrency:
  group: test_main-${{ github.workflow }}-${{ github.event_name}}-${{ github.ref}}-${{ toJson(inputs) }}
  cancel-in-progress: true

jobs:
  test_config:
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.result.outputs.matrix }}
      splits: ${{ steps.result.outputs.splits }}

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Calculate splits
        id: result
        shell: bash
        env:
          splits: ${{ inputs.splits }}
        run: |
          # the matrix group should be indexed from 1 to splits + 1
          n=$((splits + 1))
          matrix=$(jq -n -c --arg n "$n" '[range(1;($n|tonumber))]')

          # validate that matrix is an array of numbers from 1 to splits + 1
          if ! echo "$matrix" | jq empty; then
            echo "matrix is not an array of numbers from 1 to splits + 1"
            exit 1
          fi

          echo "splits=$splits" >> "$GITHUB_OUTPUT"
          echo "matrix=$matrix" >> "$GITHUB_OUTPUT"
          cat "$GITHUB_OUTPUT"

  test_codestyle:
    runs-on: ubuntu-latest
    needs: [test_config]

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Test
        uses: ./.github/actions/run-docker-minimal
        with:
          digest: ${{ inputs.digest }}
          version: ${{ inputs.version }}
          run: |
            make lint-codestyle

  test_main:
    runs-on: ubuntu-latest
    needs: [test_config]
    strategy:
      fail-fast: false
      matrix:
        group: ${{fromJson(needs.test_config.outputs.matrix)}}

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Create empty environment
        run: |
          touch .env

      - name: Spin up autograph
        run: |
          docker compose up --wait autograph

      - name: Spin up redis
        run: |
          docker compose up --wait redis

      - name: Test (test_matrix)
        uses: ./.github/actions/run-docker-minimal
        with:
          digest: ${{ inputs.digest }}
          version: ${{ inputs.version }}
          run: |
            split="--splits ${{ needs.test_config.outputs.splits }}"
            group="--group ${{ matrix.group }}"
            make test_main ARGS="${split} ${group}"

  test_internal_routes:
    runs-on: ubuntu-latest
    needs: [test_config]

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Test
        uses: ./.github/actions/run-docker-minimal
        with:
          digest: ${{ inputs.digest }}
          version: ${{ inputs.version }}
          run: |
            make test_internal_routes_allowed

  test_needs_locales:
    runs-on: ubuntu-latest
    needs: [test_config]

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Test
        uses: ./.github/actions/run-docker-minimal
        with:
          digest: ${{ inputs.digest }}
          version: ${{ inputs.version }}
          run: |
            make compile_locales
            make test_needs_locales_compilation

  test_search:
    runs-on: ubuntu-latest
    needs: [test_config]

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Create empty environment
        run: |
          touch .env

      - name: Spin up Elasticsearch
        run: |
          docker compose up --wait elasticsearch

      - name: Test
        uses: ./.github/actions/run-docker-minimal
        with:
          digest: ${{ inputs.digest }}
          version: ${{ inputs.version }}
          run: |
            make test_es_tests
